<footer class="bg-light border-top text-dark py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: support@bookstore.com</li>
                    <li>Phone: +38 090 123 45 67</li>
                    <li>Address: 123</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/" class="text-dark">
                            Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="authors" asp-action="index" class="text-dark">
                            Authors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">© @DateTime.Now.Year BookStore. All rights reserved.</p>
        </div>
    </div>
</footer>
