<header class="bg-light border-bottom">
    <nav class="navbar navbar-expand navbar-light justify-content-between p-3">
        <a class="navbar-brand" href="/">Book Store</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="authors" asp-action="index" class="nav-link text-dark">
                        Authors
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
